@use "styles/mixins";

.product {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, auto);

  & > figure {
    max-width: 680px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 7;
    border-radius: 4px;
    margin: 2rem 0 0 2rem;
  }

  .detail {
    margin: 2rem;
    grid-row-start: 1;
    grid-column-start: 7;
    grid-column-end: 11;

    & > small {
      @include mixins.col("gray-1");
      font-size: 0.88rem;
      font-family: Arial, Helvetica, sans-serif;
    }

    & > button {
      @include mixins.btn("blue", "white");
      width: 100%;
      font-size: 1.1rem;

      @include mixins.hover {
        @include mixins.bg("dark-blue");
        transition: background-color 500ms;
      }
    }

    h1 {
      @include mixins.col("gray-1");
      margin: 1rem 0 2rem 0;
      font-size: 1.5rem;
      font-weight: 800;
    }

    h2 {
      @include mixins.col("gray-1");
      font-size: 2.9rem;
      margin-bottom: 2rem;

      //Currency symbol.
      span {
        @include mixins.col("gray-1");
        margin-right: 0.5rem;
        font-size: 2.7rem;
        font-family: sans-serif;
      }

      //Decimal
      sup {
        font-size: 1.3rem;
      }
    }
  }

  .description {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 10;
    margin: 2rem;

    & > h2 {
      @include mixins.col("gray-1");
      font-size: 1.75rem;
      margin-bottom: 2rem;
      font-weight: 600;
    }

    & > p {
      @include mixins.col("gray-2");
      margin-bottom: 0.5rem;
      font-family: sans-serif;
      font-size: 1rem;
    }
  }
}
