@use "styles/mixins";
@use "sass:map";

.breadcrumb {
  @include mixins.bg("gray-3");
  @include mixins.col("gray-2");
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-columns: fit-content(100%);
  gap: 1.3rem;
  padding: 1rem 0;

  & > span {
    @include mixins.breadcrumbArrow("gray-2");
    grid-row-start: 1;
    display: none;

    &:last-of-type {
      font-weight: 600;
      &::after {
        display: none;
      }
    }

    @media (min-width: 700px) {
      display: inline-block;
    }
  }

  & > h4 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
  }
}
