@use "styles/mixins";

.root {
  @include mixins.container();

  .container {
    @include mixins.bg("white");
    min-height: calc(100vh - 6.5rem);
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 12;
  }
}
